@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
  width: 100%;
  height: 100vh;
  background-image: url('https://ci5.googleusercontent.com/proxy/5pfYErWuRlnhmlG9A4etZ8ZyX3yTP_H7XQx9tVWjcWRaWMePmnyQYEgs7kN8hzTBPmHSuvGe-WYJqcHubX8f0tGsumVLSLLZX-RVDfqQM1szhEkdt7MjDmji=s0-d-e1-ft#https://i.pinimg.com/474x/3f/e9/f9/3fe9f93064aee04ff6a19caa5649696d.jpg');
  background-size: cover;
  font-family: 'Numans', sans-serif;

  }
  
  .container{
  height: 100%;
  align-content: center;
  }
  
  .card{
    background-color: #a5e6c8;
  }
  .social_icon span{
  font-size: 60px;
  margin-left: 10px;
  color: #FFC312;
  }
  
  .social_icon span:hover{
  color: white;
  cursor: pointer;
  }
  
  .card-header h3{
  color: white;
  }
  
  .social_icon{
  position: absolute;
  right: 20px;
  top: -45px;
  }
  
  .input-group-prepend span{
  width: 50px;
  background-color: #FFC312;
  color: black;
  border:0 !important;
  }
  
  input:focus{
  outline: 0 0 0 0  !important;
  box-shadow: 0 0 0 0 !important;
  
  }
  
  .remember{
  color: white;
  }
  
  .remember input
  {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
  }
  
  .login_btn{
  color: black;
  background-color: #FFC312;
  width: 100px;
  }
  
  .login_btn:hover{
  color: black;
  background-color: white;
  }
  
  .links{
  color: white;
  }
  
  .links a{
  margin-left: 4px;
  }